* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.navbar {
background: rgba(64, 55, 55, 0.6);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);
}

